extends layout 
 
block content 
  h1= title 
 
  - let costumeid = toShow._id 
  - let costume_type = toShow.costume_type 
  - let costumecost = toShow.cost 
  - let costumesize = toShow.size 
  - let items = results; 
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/costumes/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.costume_type}(#{item.size}) is #{item.cost} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
  
    script. 
      function dispatch(path){ 
        window.location.href=path 
      } 

  div 
    div.row 
      div(class='costumeAttr mr-3') Costume ID is: 
      div #{costumeid} 
    div.row 
      div(class='costumeAttr mr-3') Costume Type is: 
      div #{costume_type} 
    div.row 
      div(class='costumeAttr mr-3') Costume Size is: 
      div #{costumesize} 
    div.row 
      div(class='costumeAttr mr-3') Costume Cost is: 
      div #{costumecost} 